<mat-toolbar color="primary">  
  <h1>  
    Odyssey - interacting with BCAN
  </h1>  
  <button mat-button routerLink="/">Home</button>  
  <button mat-button routerLink="/about">About</button></mat-toolbar><router-outlet></router-outlet>

<div id="config">
  <table>
    <tr>
        <td>Topic: </td>
        <td><input [(ngModel)]="topicname" type="text" /></td>
        <td><button mat-button (click)="subscribeNewTopic()">Subscribe</button></td>
    </tr><tr>
        <td>Message: </td>
        <td><input [(ngModel)]="msg" type="text" /></td>
        <td><button mat-button (click)="sendmsg()">Send</button></td>
        <td></td>
<!--         <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
        <td></td> -->
    </tr>
    <tr>
      <td><mat-slide-toggle [(ngModel)]="isLocked" [color]="lockColor" (change)="onChangeLock($event)">door lock</mat-slide-toggle></td>
      <td>&nbsp;</td>
      <td style="padding-left:19px">cnt: {{messageCount}}</td>
    </tr>
  </table>
  <br /><br />
  <div id="messages"><app-mqttmessages [MQTTlog]="messageQueue"></app-mqttmessages></div>
  <div #msglog></div>
</div>
